/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.note
  background #eee
  padding 1em
  border-radius 15px
  margin-bottom 2em

.title
  font-weight 600

.actionable
  font-weight 600

.functiondesc
  border-top 1px solid #ddd;
  padding 0.2em 1em 1.5em 1em
  margin-bottom 1em
  margin-top 1em
  font-family: monospace;
  white-space: pre;
